*,
html,
body {
  margin: 0;
  padding: 0;
  top: 0;
}

.App {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 1279px) {
    /* Reset or override styles for screens with max-width 1279px  */
    position: static;
    overflow-y: initial;
    overscroll-behavior-y: auto;
    scroll-snap-type: none;
    height: auto;
    width: auto;

    -ms-overflow-style: auto;
    scrollbar-width: auto;
    &::-webkit-scrollbar {
      display: auto;
    }

    .slide {
      height: auto;
      scroll-snap-align: none;
    }
  }
}

.slide {
  height: 100vh;
  scroll-snap-align: center;
}
